SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:mysql://replace-with-rds-endpoint:3306/zerost
SPRING_DATASOURCE_USERNAME=replace-with-db-username
SPRING_DATASOURCE_PASSWORD=replace-with-db-password
